.participantForm {
    display: flex;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.form-input {
    flex-grow: 0;
    width: 156px;
    padding: 16px;  /* (48 - line height)/2 */
    color: #757575;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

}

.form-input.submit {
    flex-grow: 1;
    text-align: right;
}

.form-input.submit > button {
    width: 50%;
    height: 100%;
}

.form-input.double-size {
    width: 266px;
}

.form-input>input {
    height: 36px;
    width: 100%;
    padding: 0;

}

.form-input>input::placeholder {
    text-align: center;
}

