.table-row {
    display: flex;
    width: 100%;
}

.table-row > div.text {
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 140px;
}

.table-row > div.option {
    flex-grow: 1;
}

.table-row > div.text.double-size {
    width: 250px;
}

.table-row.header > div {
    padding: 15.5px 24px;  /* (48 - line height)/2 */
    border-bottom: 0.5px solid #757575;
    color: #757575;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.table-row.body > div {
    padding: 23.5px 24px;
    border-bottom: 0.5px solid grey;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    font-weight: 400;
}

.table-container {
    background-color: #ffffff;
}

.table-row .option > div {
    text-align: right;
}

.table-row .option  a {
    color: #909090;
    height: 24px;
    width: 24px;
    margin: 0 10px;
}